<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js" integrity="sha256-oSgtFCCmHWRPQ/JmR4OoZ3Xke1Pw4v50uh6pLcu+fIc=" crossorigin="anonymous"></script>
<button class="btn btn-primary pb" id="showhide" type="button" data-toggle="collapse" data-target="#graph" aria-expanded="false" aria-controls="collapseExample">Show <i class="far fa-chart-line"></i></button>
<div class="row">
    <div class="col-md-12">
    <div id="graph" class="collapse">
            <p id="loading"><i class="far fa-cog fa-2x fa-spin"></i> Loading... please wait!</p>
            <canvas id="downloadsGraph" width="200" height="200"></canvas>
        </div>
    </div>
</div>
<script src="/static/js/graph.js"></script>
<script>loadData({{project.downloads | tojson }}, "Total Downloads")</script>