{% extends 'base.html' %}
{% block title %}{{project.name}}{% endblock title %}
{% block content %}
<h2>{{project.name}}</h2>
<p><i class="far fa-download fa-2x"></i> {{"{:,}".format(project.total_downloads)}} <i class="far fa-stars fa-2x"></i> {{"{:,}".format(project.stars)}}</p>
<button class="btn btn-success gh" onclick="window.location.href='https://github.com/flagbrew/{{project.name}}'">View on <i class="fab fa-github"></i></button>
<hr>
<div id="readme">
    {{project.readme | safe}}
</div>
{% endblock content %}