{% extends 'base.html' %}
{% block title %}{{project.name}}{% endblock title %}
{% block content %}
<h2>{{project.name}}</h2>
<div class="row">
    <div class="col-md-2 col-sm-3 col-xs-6">
        <i class="far fa-download fa-2x"></i> {{"{:,}".format(project.total_downloads)}}
    </div>
    <div class="col-md-2 col-sm-3 col-xs-6">
        <i class="far fa-stars fa-2x"></i> {{"{:,}".format(project.stars)}}
    </div>
    <div class="col-md-2 col-sm-3 col-xs-6">
        <i class="far fa-code-commit fa-2x"></i> {{project.commits}}
    </div>
    <div class="col-md-2 col-sm-3 col-xs-6">
        <i class="far fa-code-branch fa-2x"></i> {{project.forks}}
    </div>
</div>
<button class="btn btn-success gh" onclick="window.location.href='https://github.com/flagbrew/{{project.name}}'">View on <i class="fab fa-github"></i></button>
{% if project.latest_release != "" %}
<button class="btn btn-info" class="btn btn-primary" data-toggle="modal" data-target="#qrModal"><i class="far fa-qrcode"></i></button>

<div class="modal fade" id="qrModal" tabindex="-1" role="dialog" aria-labelledby="qrModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="qrModalTitle">QR Code for {{project.name}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <img src="data:image/png;base64,{{qr}}">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
{% endif %}
{% if project.downloads|length > 1 %}
{% include 'graph.html' %}
{% endif %}
<hr>
<div id="readme" class="padding">
    {{project.readme | safe}}
</div>
{% endblock content %}